.about-container{
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: center;
    width: 80%;
    gap: 1rem;
}

.text-container{
    position: absolute;
    display: grid;
    height: 100vh;
    width: 100%;
    z-index: -1;
   
    
}

.about-text{
    position: fixed;
    z-index: -1;
    font-family: 'Playfair Display', serif;
    font-size: 18rem;
    color: rgba(255, 255, 255, 0.056);
    font-weight: bold;
    justify-self: start;
    align-self: end;
}