.landing-container{
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: center;
    width: 80%;
    gap: 1rem;
}

.landing-text{
    position: fixed;
    z-index: -1;
    font-family: 'Playfair Display', serif;
    font-size: 25rem;
    color: rgba(255, 255, 255, 0.056);
    bottom: 0;
    font-weight: bold;
}

.space{
    margin-top: 10rem;
}

.name{
    letter-spacing: 1rem;
    font-size: 3rem;
}

.info-1,
.info-2{
    line-height: 200%;
}

.more-info{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.arrow{
    height: 2rem;
    width: 2rem;

}

