@media (max-width: 430px){

    .p-space{
        height: 1rem;
    }

    .p-container{
        grid-row-start: 2;
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        gap: 0.5rem;
    }

    .text-container{
        position: absolute;
        display: grid;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }

    .project-text{
        position: fixed;
        z-index: -1;
        font-family: 'Playfair Display', serif;
        font-size: 5rem;
        color: rgba(255, 255, 255, 0.056);
        bottom: 0;
        font-weight: bold;
    }
}

@media (min-width: 431px) and (max-width: 800px){
    .p-space{
        height: 1rem;
    }

    .p-b-space{
        height: 3rem;
    }

    .p-container{
        grid-row-start: 2;
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        gap: 0.5rem;
    }

    .text-container{
        position: absolute;
        display: grid;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }

    .project-text{
        position: fixed;
        z-index: -1;
        font-family: 'Playfair Display', serif;
        font-size: 5rem;
        color: rgba(255, 255, 255, 0.056);
        bottom: 0;
        font-weight: bold;
    }
}

@media (min-width: 801px){

    .p-space-small{
        height: 1rem;
    }
    
    .p-space{
        height: 1rem;
    }

    .p-b-space{
        height: 3rem;
    }

    .p-container{
        grid-row-start: 2;
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        gap: 0.5rem;
        max-width: 50rem;
    }

    .text-container{
        position: absolute;
        display: grid;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }

    .project-text{
        position: fixed;
        z-index: -1;
        font-family: 'Playfair Display', serif;
        font-size: 15rem;
        color: rgba(255, 255, 255, 0.056);
        bottom: 0;
        font-weight: bold;
    }
}

