
.socials-container{
    display: flex;
    gap: 1rem;
}

.socials{
    fill: white;
    height: 1rem;
    width: 1rem;
}

.socials:hover{
    animation: iconHover 0.3s forwards;
}

@keyframes iconHover{
    0%{
        fill: white;
    }
    100%{
        fill: #64ffda;
    }
}