*{
    margin: 0;
    font-family: 'Raleway';
    color: white;
}

body{
    height: 100vh;
    width: 100%;
    background: #020a13;
    /* this is for grid */
    background-image: linear-gradient(rgba(255, 255, 255, 0.080) 1px, transparent 1px), 
    linear-gradient(90deg, rgba(255, 255, 255, 0.080) 1px, transparent 1px);
    background-size: 20rem 20rem;
}

.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 7rem auto;
}

#cursor-border{
    position: fixed;
    left: 0;
    top: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: solid 1px white;
    z-index: 10000;
    pointer-events: none;
}

#cursor{
    position: fixed;
    left: 0;
    top: 0;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: #689fde;  
    z-index: 10001;
    pointer-events: none;
    filter: blur(10rem);
}

.transition-filter{
    position: absolute;
    z-index: 5;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    pointer-events: none;
}

.transition-true{
    background-color: black;
}

.transition-false{
    background-color: transparent;
}